$yellowColor: #FF931E;
$greenColor: #39B54A;
$goldenColor: #ccb195;

$mainGradient: linear-gradient(
    45deg,
    $greenColor 0%,
    $goldenColor 50%,
    $yellowColor 100%
);
@mixin box-shadow($color) {
    -webkit-box-shadow: 0 2px 8px rgba($color, 0.33);
    -moz-box-shadow: 0 2px 8px rgba($color, 0.33);
    -ms-box-shadow: 0 2px 8px rgba($color, 0.33);
    box-shadow: 0 2px 8px rgba($color, 0.33);
}

$whiteColor: #f8f8f8;
$medium-gray: #ddd;
$redColor: #de382f;
$blackColor: #3a3e48;
