@import "common";
* {
    margin: 0;
    padding: 0;
}
#app {
    font-family: Microsoft JhengHei, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $whiteColor;
    background: $mainGradient;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
    &.mobile{
        overflow-x: hidden;
        overflow-y: scroll;
        .socialLink{
            padding-top: 22%;
            left: 7vw;
            top: 0;
            font-size: 1.5rem;
            height: 100vh;
        }
    }
    &.destop{
        overflow: hidden;
        .socialLink{
            right: 1.5em;
            bottom: 0.5em;
            font-size: 14px;
        }
    }  
}
a{
    text-decoration:none;
    color:darken($greenColor, 15);
    &:hover{
        text-decoration:none;
        color:darken($greenColor, 5);
    }
}

button{
    border: 0;
    outline: none;
    cursor: pointer;
}

.socialLink{
    position: absolute;
    z-index: 1;
    >a{
        margin: 0 .25rem;
        color:rgba($whiteColor, .9);
        &:hover{
            color:rgba($whiteColor, 1);
        }
    }
}
