@import "common";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.content {
    >*{
        font-family: 'Noto Sans TC', 'Microsoft JhengHei', elvetica, Arial, sans-serif;
    }
    position: relative;
    height: calc(100vh - 1.5rem);
    border: 1px solid rgba($whiteColor, 0.5);
    overflow: hidden;
    .header {
        width: 100%;
        position: relative;
        >img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;
        }
    }
    .mainMap{
        position: absolute;
        z-index: 1;
        >svg{
            width: 100%;
            height: 100%;
        }
    }

}
.modal-mask {
    position: fixed;
    display: table;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
            margin: 0px auto;
            background-color: $whiteColor;
            border-radius: 0.25rem;
            @include box-shadow(#000);
            transition: all 0.3s ease;
            > * {
                position: relative;
            }
            .modal-header {
                background: $mainGradient;
                border-radius: 0.25rem 0.25rem 0 0;
                h3 {
                    color: $whiteColor;
                }
                .closeBtn {
                    position: absolute;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    background: transparent;
                }
            }
            .modal-body {
                overflow-y: scroll;
                .imgGroup {
                    text-align: center;
                    &.direction0{
                        margin-bottom: 3rem;
                        >img{
                            height: 100%;
                        }
                    }
                    &.direction1{
                        >img{
                            width: 100%;
                        }

                    }
    
                    > img {
                        margin: 0 auto;    
                    }
                    >p{
                        position: relative;
                        color: lighten($blackColor, 20);
                        font-size: 0.6rem;
                        >span{
                            display: block;
                            color: lighten($blackColor, 50);
                            font-size: 0.4rem;
                        }
                    }
                }
                .textGroup {
                    width: 90%;
                    max-width: 30rem;
                    margin: 1rem auto;
                    p{
                        color: $blackColor;
                        margin: 1rem auto 1.5rem auto;
                        text-indent: 2rem;
                        line-height: 170%;
                        font-size: 1rem;
                    }
                }
                .subTextGroup{
                    box-sizing: border-box;
                    border: 1px dashed $goldenColor;
                    padding: .5rem;
                    max-width: 30rem;
                    margin: 1rem auto;

                    h6{
                        color: lighten($blackColor, 40);
                        font-size: .75rem;
                    }
                    p{
                        color: $blackColor;
                        margin: .5rem;
                    }
                }
            }
        }
    }
}

.btn{
    @include box-shadow(#222);
    font-size: 0;
    //border: 2px solid lighten($medium-gray, 10%);
}
.closeBtn {
    &:after {
        content: "✖";
        font-size: 1.5rem;
        color: darken($greenColor, 10);
    }
    &:hover:after {
        color: darken($greenColor, 5);
    }
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

svg{
    .st0{fill:#C69C6D;}
	.st1{fill:#FF00FF;}
	.st2{fill:#FFFFFF;}
    .st3{fill:#00FF00;}
    .svgBtn,
    .svgBtn path{
        cursor: pointer;
    }
}
.mobile{
    .mainMap{
        width: calc(100vw + 1rem);
        height: 100vh;
        top: 0;
        left: -1rem;
    }
    .modal-container {
        width: 96vw;
        >*{
            padding: 0.5rem;
        }
        .closeBtn{
            top: .5rem;
            right: .5rem; 
        }
        .modal-body{
            max-height: calc(100vh - 5rem);
            .imgGroup {
                &.direction0{
                    height: 45vh;
                    
                }
                &.direction1{
                    height: 55vh;
                }
                >p{
                    width: 100%;
                    margin: 0 auto 0.5rem auto;
                }
            }
        }
    }

}

.destop{
    .mainMap{
        width: calc(100vw - 2rem);
        height: calc(100vh + 5rem);
        top: -10%;
        left: 0;
    }
    .modal-container {
        width: 90vw;
        max-width: 60rem;
        >*{
            padding: 1rem;
        }
        .closeBtn{
            top: 1rem;
            right: 1rem; 
        }
        .modal-body{
            max-height: calc(100vh - 12rem);
            .imgGroup {
                &.direction0{
                    height: 60vh;
                    >p{
                        width: 90%;
                        margin: 0 auto 1rem auto;
                    }
                }
                &.direction1{
                    display: inline-block;
                    vertical-align: top;
                    width: 37%;
                    &:nth-child(2n+1){
                        margin: 0 1% 0 12%;
                    }
                    &:nth-child(2n){
                        margin: 0 auto 0 1%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1rem auto;
                    }
                }
                &.direction2{
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(2n){
                        width: 25%;
                        margin: 0 1% 0 14%;
                    }
                    &:nth-child(2n+1){
                        width: 45%;
                        margin: 0 auto 0 1%;
                    }
                    img{
                        width: 100%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1rem auto;
                    }
                }

                >p{
                    margin: 0 auto 1rem auto;
                }
            }
        }
    }
}

.fade-enter-active {
    transition: opacity 3s ease-in-out;
}

.fade-enter-to {
    opacity: 1;
}

.fade-enter {
    opacity: 0;
}