@import "common";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.content {
    >*{
        font-family: 'Noto Sans TC', 'Microsoft JhengHei', elvetica, Arial, sans-serif;
    }
    position: relative;
    width: 100%;
    height: calc(100vh - 1.5rem);
    border: 1px solid rgba($whiteColor, 0.5);
    overflow: hidden;
    .header {
        width: 100vw;
        position: relative;
        >img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;
        }
    }
    .mainMap{
        position: absolute;
        z-index: 2;
        >svg{
            width: 100%;
            height: 100%;
        }
    }

}
.modal-mask {
    position: fixed;
    display: table;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
            background-color: $whiteColor;
            border-radius: 0.25rem;
            @include box-shadow(#000);
            transition: all 0.3s ease;
            > * {
                position: relative;
            }
            .modal-header {
                background: $mainGradient;
                border-radius: 0.25rem 0.25rem 0 0;
                padding: .5em 0 .5em 2em;
                h3 {
                    color: $whiteColor;
                }
                .closeBtn {
                    position: absolute;
                    border-radius: 50%;
                    background: transparent;
                    color: darken($greenColor, 10);
                    &:hover{
                        color: darken($greenColor, 5);
                    }
                }
            }
            .modal-body {
                overflow-y: scroll;
                .info{
                    box-sizing: border-box;
                    border: 1px dashed $goldenColor;
                    padding: .5em;
                    color: lighten($blackColor, 40);
                    span{
                        margin: 0 .5em;
                        color: $blackColor;
                        &.level0{
                            color: $redColor;
                        }
                        &.level4{
                            color: $greenColor;
                        }
                    }
                }
                .imgGroup {
                    text-align: center;
                    margin: 0 auto;    
                    >p{
                        position: relative;
                        color: lighten($blackColor, 15);
                        >span{
                            display: block;
                            color: lighten($blackColor, 30);
                        }
                    }
                }
                .textGroup {
                    line-height: 1.8;
                    p{
                        color: $blackColor;
                        margin: 1.5em auto;
                        text-indent: 2em;
                    }
                }
                .subTextGroup{
                    box-sizing: border-box;
                    border: 1px dashed $goldenColor;
                    padding: .5em;
                    h6{
                        color: lighten($blackColor, 40);
                        font-size: .75em;
                    }
                    p{
                        color: $blackColor;
                        margin: .5em;
                        line-height: 180%;
                    }
                    a{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.btn{
    @include box-shadow(#222);
    font-size: 0;
    //border: 2px solid lighten($medium-gray, 10%);
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

svg{
    .st0{fill:#C69C6D;}
	.st1{fill:$purpleColor;}
	.st2{fill:$whiteColor;}
    .st3{fill:$uniqGreen;}
    .svgBtn,
    .svgBtn path{
        cursor: pointer;
    }
}
.mobile{
    .mainMap{
        width: calc(100vw + 1rem);
        height: 100vh;
        top: 0;
        left: -1rem;
    }
    .modal-container {
        width: 100vw;
        font-size: 22px;
        .modal-header {
            >*{
                font-size: 2em;
            }
            .closeBtn{
                top: 0;
                right: 0.25em;
                font-size: 3em;
            }
        }
        .modal-body{
            max-height: calc(100vh - 4em);
            iframe,
            .leaflet-container{
                height: 26vh;
            }
            .imgGroup {
                &.direction0{
                    width: 90%;
                    img{
                        width: 100%;
                    }
                }
                &.direction1{
                    height: 45vh;
                    margin-bottom: 2em;
                    img{
                        height: calc(100% - 4em);
                    }
                    p{
                        font-size: 1.9em;
                        >span{
                            font-size: 0.9em;
                        }
                    }
                }
                p{
                    font-size: 1em;
                    >span{
                        font-size: 0.6em;
                    }
                }
            }
            .textGroup{
                width: 92%;
                font-size: 1.8em;
                margin: 2em auto;

            }
            .subTextGroup,
            .info{
                width: 92%;
                margin: 1em auto 3em auto;;
            }

        }
    }
    .leaflet-touch .leaflet-bar a{
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        font-size: 3em;
    }
}

.destop{
    .mainMap{
        width: calc(100vw - 2rem);
        height: calc(100vh + 5rem);
        top: -10%;
        left: 0;
    }
    .modal-container {
        width: 90vw;
        max-width: 60rem;
        margin: 0 auto;
        font-size: 16px;
        .modal-header {
            >*{
                font-size: 1em;
            }
            .closeBtn{
                top: .5em;
                right: 1em;
                font-size: 1.25em;
            }
        }
        .modal-body{
            max-height: calc(100vh - 6em);
            iframe,
            .leaflet-container{
                height: 18rem;
            }
            .imgGroup {
                &.direction0{
                    margin-bottom: 3em;
                    >img{
                        height: 100%;
                    }
                    >p{
                        margin: 0 auto 1em auto;
                    }
                }
                &.direction1{
                    display: inline-block;
                    vertical-align: top;
                    img{
                        width: 100%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1em auto;
                    }
                }
                &.direction2{
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(2n){
                        width: 25%;
                        margin: 0 1% 0 14%;
                    }
                    &:nth-child(2n+1){
                        width: 45%;
                        margin: 0 1% 0 14%;
                    }
                    img{
                        width: 100%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1rem auto;
                    }
                }
                p{
                    font-size: 0.9em;
                    >span{
                        font-size: 0.6em;
                    }
                }
            }
            .textGroup{
                width: 92%;
                max-width: 36em;
                padding: 1em 0;
                font-size: 0.9em;
                margin: 1em auto;
            }
            .subTextGroup,
            .info{
                max-width: 36em;
                width: 92%;
                margin: 1em auto 2em auto;;
            }
        }
    }
}

.destop.lg{
    .imgGroup {
        &.direction0{
            height: 60vh;
        }
        &.direction1{
            width: 37%;
            &:nth-child(2n+1){
                margin: 0 10% 0 2%;
            }
            &:nth-child(2n){
                margin: 0 2% 0 10%;
            }
        }
        &.direction2{
            &:nth-child(2n){
                width: 25%;
                margin: 0 1% 0 14%;
            }
            &:nth-child(2n+1){
                width: 45%;
                margin: 0 1% 0 14%;
            }
        }
    }
}

.destop.sm{
    .main_title{
        opacity: .8;
    }
    .sub_title{
        opacity: .5;
    }
    .imgGroup {
        &.direction0{
            height: 45vh;
        }
        &.direction1{
            width: 43%;
            &:nth-child(2n+1){
                margin: 0 5% 0 2%;
            }
            &:nth-child(2n){
                margin: 0 2% 0 5%;
            }
        }
        &.direction2{
            &:nth-child(2n){
                width: 25%;
                margin: 0 1% 0 14%;
            }
            &:nth-child(2n+1){
                width: 45%;
                margin: 0 1% 0 14%;
            }
        }
    }
}
.fade-enter-active {
    transition: opacity 3s ease-in-out;
}

.fade-enter-to {
    opacity: 1;
}

.fade-enter {
    opacity: 0;
}

.leaflet-touch .leaflet-bar a{
    color:$greenColor;
}

.leaflet-interactive { 
    stroke: $pathColor;
    fill: none;
    // stroke-dasharray: 8,6; 
    stroke-width: 4;  
}