@import "common";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.content {
    >*{
        font-family: 'Noto Sans TC', 'Microsoft JhengHei', elvetica, Arial, sans-serif;
    }
    position: relative;
    width: 100%;
    height: calc(100vh - 1.5rem);
    border: 1px solid rgba($whiteColor, 0.5);
    overflow: hidden;
    .header {
        width: 100vw;
        position: relative;
        >img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 0;
        }
    }
    .mainMap{
        position: absolute;
        z-index: 2;
        >svg{
            width: 100%;
            height: 100%;
        }
    }

}
.modal-mask {
    position: fixed;
    display: table;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
            background-color: $whiteColor;
            border-radius: 0.25rem;
            @include box-shadow(#000);
            transition: all 0.3s ease;
            > * {
                position: relative;
            }
            .modal-header {
                background: $mainGradient;
                border-radius: 0.25rem 0.25rem 0 0;
                font-size: 16px;
                padding: .5em;
                h3 {
                    color: $whiteColor;
                }
                .closeBtn {
                    position: absolute;
                    right: 1em;
                    border-radius: 50%;
                    background: transparent;
                    color: darken($greenColor, 10);
                    &:hover{
                        color: darken($greenColor, 5);
                    }
                }
            }
            .modal-body {
                overflow-y: scroll;
                .imgGroup {
                    text-align: center;
                    margin: 0 auto;    
                    >p{
                        position: relative;
                        color: lighten($blackColor, 20);
                        font-size: 14px;
                        >span{
                            display: block;
                            color: lighten($blackColor, 50);
                            font-size: 12px;
                        }
                    }
                }
                .textGroup {
                    margin: 1em auto;
                    p{
                        color: $blackColor;
                        margin: 1em auto 1.5em auto;
                        text-indent: 2em;
                        font-size: 1em;
                    }
                }
                .subTextGroup{
                    box-sizing: border-box;
                    border: 1px dashed $goldenColor;
                    padding: .5em;
                    h6{
                        color: lighten($blackColor, 40);
                        font-size: .75em;
                    }
                    p{
                        color: $blackColor;
                        margin: .5em;
                    }
                    a{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.btn{
    @include box-shadow(#222);
    font-size: 0;
    //border: 2px solid lighten($medium-gray, 10%);
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

svg{
    .st0{fill:#C69C6D;}
	.st1{fill:#FF00FF;}
	.st2{fill:#FFFFFF;}
    .st3{fill:#00FF00;}
    .svgBtn,
    .svgBtn path{
        cursor: pointer;
    }
}
.mobile{
    .mainMap{
        width: calc(100vw + 1rem);
        height: 100vh;
        top: 0;
        left: -1rem;
    }
    .modal-container {
        width: 96vw;
        margin: 1rem auto;
        .modal-header {
            >*{
                font-size: 2.5em;
            }
            .closeBtn{
                top: 0.25em;
                font-size: 2.75em;
            }
        }
        .modal-body{
            max-height: calc(100vh - 5rem);
            iframe{
                margin-bottom: 2rem;
                height: 30vh;
            }
            .imgGroup {
                &.direction0{
                    width: 90%;
                    img{
                        width: 100%;
                    }
                }
                &.direction1{
                    height: 45vh;
                    margin-bottom: 2em;
                    img{
                        height: calc(100% - 4em);
                    }
                    p{
                        font-size: 2em;
                        >span{
                            font-size: 1em;
                        }
                    }
                }
            }
            .textGroup{
                font-size: 22px;
                width: 92%;
                line-height: 1.8;
            }
            .subTextGroup{
                font-size: 16px;
                width: 92%;
                margin: 1em auto 3em auto;;
            }

        }
    }

}

.destop{
    .mainMap{
        width: calc(100vw - 2rem);
        height: calc(100vh + 5rem);
        top: -10%;
        left: 0;
    }
    .modal-container {
        width: 90vw;
        max-width: 60rem;
        margin: 0 auto;
        .modal-header {
            >*{
                font-size: 1em;
            }
            .closeBtn{
                top: .5em;
                font-size: 1.25em;
            }
        }
        .modal-body{
            max-height: calc(100vh - 6em);
            iframe{
                margin-bottom: 2rem;
                height: 18rem;
            }
            .imgGroup {
                &.direction0{
                    height: 60vh;
                    margin-bottom: 3em;
                    >p{
                        margin: 0 auto 1em auto;
                    }
                    >img{
                        height: 100%;
                    }
                }
                &.direction1{
                    display: inline-block;
                    vertical-align: top;
                    width: 37%;
                    img{
                        width: 100%;
                    }
                    &:nth-child(2n+1){
                        margin: 0 10% 0 2%;
                    }
                    &:nth-child(2n){
                        margin: 0 2% 0 10%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1em auto;
                    }
                }
                &.direction2{
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(2n){
                        width: 25%;
                        margin: 0 1% 0 14%;
                    }
                    &:nth-child(2n+1){
                        width: 45%;
                        margin: 0 1% 0 14%;
                    }
                    img{
                        width: 100%;
                    }
                    >p{
                        width: 100%;
                        margin: 0 auto 1rem auto;
                    }
                }
                >p{
                    margin: 0 auto 1rem auto;
                    font-size: 16px;
                }
            }
            .textGroup{
                width: 92%;
                padding: 1em 0;
                font-size: 16px;
                line-height: 1.8;
            }
            .subTextGroup{
                font-size: 14px;
                width: 92%;
                margin: 2em auto 4em auto;;
            }
        }
    }
}

.fade-enter-active {
    transition: opacity 3s ease-in-out;
}

.fade-enter-to {
    opacity: 1;
}

.fade-enter {
    opacity: 0;
}